version: '3.8'
services:
  db:
    image: postgres
    container_name: espmicroservices-db-1
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mojabaza
    ports:
      - "5432:5432"

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config

  app:
    build: .
    depends_on:
      - db
      - mqtt
    environment:
      DATABASE_URL: postgres://user:pass@db:5432/mojabaza?sslmode=disable
      MQTT_BROKER: tcp://mqtt:1883
    ports:
      - "8080:8080"